:root {
    --main-bg-color: coral;
    --main-txt-color: blue;
    --main-padding: 15px;
}

.container {

    width: 200px;
    height: 200px;


}

.plane {
    width: 200px;
    height: 200px;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s;
    perspective: 2000px;
    margin: 0.5px;
    transform: translateZ(4000000px);
    align-content: center;

}

.face {
    position: absolute;
    width: 200px;
    height: 200px;
    border: 2px solid black;
    line-height: 200px;
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.row {

    transform: translateZ(105px);
    margin: 0px;

    background: rgba(255, 255, 0, 0.1);



}

.tile {
    transform: translateZ(105px);
    position:relative;
    float: left;
    display:flex;
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin: -0.25px;
    background: rgba(0, 0, 255, 0.2);

}


.map {
    transform: rotateY(0deg) translateZ(100px);
    background: rgba(150, 150, 150, 0.75);

}

.N {
    transform: rotateX(90deg) translateZ(100px);
    background: rgba(0, 150, 50, 1.0);
}

.E {
    transform: rotateY(90deg) translateZ(100px);
    background: rgba(255, 255, 0, 1.0);
}

.S {
    transform: rotateX(-90deg) translateZ(100px);
    background: rgba(255, 0, 0, 1.0);
}

.W {
    transform: rotateY(-90deg) translateZ(100px);
    background: rgba(0, 0, 255, 1.0);
}
