
:root {
  --main-bg-color: coral;
  --main-txt-color: blue; 
  --main-padding: 15px; 
}

.container {

    width: 100px;
    height: 100px;
    perspective: 2000px;

}

.plane {
    width: 200px;
    height: 200px;
    position:absolute;
    transform-style: preserve-3d;
    transition: transform 1s;

}

.face {
    position:absolute;
    width: 200px;
    height: 200px;
    border: 2px solid black;
    line-height: 200px;
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.row {

    transform: translateZ(105px);
    float: left;
    margin: 2px;
    background: rgba(255, 255, 0, 0.1);
    vertical-align: top;

}

.tile {
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin: 2px;
    background: rgba(0, 0, 255, 0.25);
    display: block;

}


.map {
    transform: rotateY(0deg) translateZ(100px);
    background: rgba(150, 150, 150, 0.75);

}

.N {
    transform: rotateX(90deg) translateZ(100px);
    background: rgba(0, 150, 50, 1.0);
}

.E {
    transform: rotateY(90deg) translateZ(100px);
    background: rgba(255, 255, 0, 1.0);
}

.S {
    transform: rotateX(-90deg) translateZ(100px);
    background: rgba(255, 0, 0, 1.0);
}

.W {
    transform: rotateY(-90deg) translateZ(100px);
    background: rgba(0, 0, 255, 1.0);
}
